{% extends 'myapp/base.html' %}

{% block body_block %}
<div class="mai">
    <center>
    <h1>Login Here!</h1>
    <form action="{% url 'myapp:login' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <a href="myapp/resetpassword.html" class="link">Forgot Password</a><br><br>
        <input type="submit" name="submit1" value="Login" />
    </form>
    </center>
</div>
{% endblock %}