{% extends 'myapp/base.html' %}

{% block body_block %}

    <div class="main_body">
    {% if message %}
            <h1> {{ message }}</h1><br>
        <br>
    {% else %}
        <center>
        <table>
            <tr>
                <td> First Name </td>
                <td> : </td>
                <td> {{ user.first_name }}</td>
            </tr>
            <tr>
                <td> Last Name </td>
                <td> : </td>
                <td> {{ user.last_name }}</td>
            </tr>
            <tr>
                <td valign="top"> Interested in </td>
                <td valign="top"> : </td>
                <td> {% for t in tops %}
                    {{ t }} <br>
                     {% endfor %}
                </td>
            </tr>
            <tr>
                <td valign="top"> Registered in </td>
                <td valign="top"> : </td>
                <td> {% for r in cors %}
                        {{ r }} <br>
                     {% endfor %}
                </td>
            </tr>
        </table>
        </center>
        <br><br>
    {% endif %}
    </div>

{% endblock %}